.title{
    text-align:center!important;
}
.red{
    color: red ;
}
.App {
    text-align: center;
  }
/*img.App-img {
    float: right;
    margin-top: -13%;
    
}*/
/*.images {
   display: block;
  
    margin-left: 50px;
}*/
/*@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }*/
 
  